Xandar/venv/
Xandar/db.sqlite3
Xandar/accounts/migrations/0001_initial.py
Xandar/accounts/migrations/__pycache__/0001_initial.cpython-36.pyc
Xandar/accounts/migrations/__pycache__/__init__.cpython-36.pyc
Xandar/accounts/__pycache__/__init__.cpython-36.pyc
Xandar/accounts/__pycache__/admin.cpython-36.pyc
Xandar/accounts/__pycache__/models.cpython-36.pyc
Xandar/accounts/__pycache__/urls.cpython-36.pyc
Xandar/accounts/__pycache__/views.cpython-36.pyc
Xandar/.idea/Xandar.iml
Xandar/.idea/misc.xml
Xandar/.idea/workspace.xml
Xandar/Xandar/__pycache__/__init__.cpython-36.pyc
Xandar/Xandar/__pycache__/settings.cpython-36.pyc
Xandar/Xandar/__pycache__/urls.cpython-36.pyc
Xandar/Xandar/__pycache__/wsgi.cpython-36.pyc
